@import "foundation";

//colors:
$yellow: #FBF18E;
$accent: #F61067;
$grey: #666666;

.no-pd {
  padding: 0 !important;
}

.no-bg {
  background: transparent !important;
}

.header {
  background: $dark-gray url(../img/bg-info-menu.jpg);
}

.logo {
  height: 210px;
  background: #4cb62c;
}

.logo img {
  margin: auto;
}

.basic-link {
  text-decoration: underline;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

.info-menu p{
  font-weight: bold;
  
}

.info-menu span {
  color: #ffa800;
  font-weight: 300;
}

.main {
  background: #1c8ad6 url(../img/bg-intro.jpg);
}

.intro img{
  margin-left: 35px;
}

.intro-header {
  margin-left: 35px;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.intro-text {
  margin-left: 35px;
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
  color: #fff;
}

.btn-subscribe{
  margin-left: 35px;
  padding: 15px 17px 15px 17px;
  background: $warning-color;
  font-size: 18px;
  letter-spacing: 1px;
}

.features {
  background: #fefefe url(../img/bg-features.jpg);
}

.features-text {
  margin-left: 35px;
  padding: 0 16px;
}

.big-size {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.features-decorative {
  /*outline: 2px solid #000;*/
}

.features-decorative img {
  padding-left: 13px;
}

.advantage {
  background: #1f8cd7 url(../img/bg-advantage.jpg) no-repeat;
}

.advantage h2 {
  padding-left: 30px;
  font-weight: 600;
  color: #fff;
}

.advantage p {
  color: #fff;
}

.advantage-text {
  padding-left: 30px;
}

.advantage span {
  font-weight: 600;
}

.business-text {
  /*padding-left: 20px;*/
}

.dot {
  width: 5% !important;
}

.dot-img {
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 7px;
}

.border {
  margin-left: 35px;
  margin-right: 20px;
  padding: 15px 20px;
  border: 2px solid #fff;
}

.plus {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/plus.png);
}

.advantage-results {
  margin-right: 190px;
  margin-left: 35px;
}

.laptop {
  background: url(../img/laptop.png) no-repeat;
}

