@import "foundation";

//colors:
$yellow: #FBF18E;
$accent: #F61067;
$grey: #666666;

.no-pd {
  padding: 0 !important;
}

.no-bg {
  background: transparent !important;
}

.indent {
  width: 6.5% !important;
}

.header {
  background: $dark-gray url(../img/bg-info-menu.jpg);
}

.logo {
  height: 210px;
  background: #4cb62c;
}

.logo img {
  margin: auto;
}

.basic-link {
  text-decoration: underline;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

.info-menu p{
  font-weight: bold;
  
}

.info-menu span {
  color: #ffa800;
  font-weight: 300;
}

.main {
  background: #1c8ad6 url(../img/bg-intro.jpg);
}

.intro-header {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.intro-text {
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
  color: #fff;
}

.btn-subscribe{
  padding: 15px 17px;
  background: $warning-color;
  font-size: 18px;
}

.features {
  background: #fefefe url(../img/bg-features.jpg);
}

.features-text {
  padding: 0 16px;
}

.big-size {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.features-decorative img {
  float: right;
  padding-left: 13px;
}

.advantage {
  background: #1f8cd7 url(../img/bg-advantage.jpg) no-repeat;
}

.advantage h2 {
  font-weight: 600;
  color: #fff;
}

.advantage p {
  color: #fff;
}

.advantage span {
  font-weight: 600;
}

.business-list {
  padding-left: 0;
  padding-right: 85px;
}

.dot-img {
  float: left;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.border {
  margin-right: 20px;
  padding: 15px 20px;
  border: 2px solid #fff;
}

/*.plus {
  display: block;
  width: 32px;
  height: 32px;
  background: url(https://a.radikal.ru/a29/1804/25/9fe7064290a0.png);
}*/

.advantage-results {
  margin-right: 190px;
}

.guide-title {
  font-size: 30px;
  font-weight: 600;
}

.laptop img{
  padding-left: 16px;
}

.guide-connect {
  font-weight: 600;
}

.product,
.product-neboskreb {
  background: #f6f6f6;
}

.product-item img {
  float: left;
  margin-right: 8px;
}

.product-item h2 {
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 1;
}

.btn-subscribe-item {
  background: #34ace0;
}

.neboskreb-img {
  margin-left: 40px;
}

.app-store,
.google-play {
  float: left;
}

.google-play img{
  margin-right: 0;
}

.social-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.social-list {
  margin: 0;
  padding: 0 40px;
}

.social-item {
  display: inline-block;
  margin-right: 10px;
  margin-left: 30px;
}

.img-social {
  float: left;
  margin-right: 10px;
}

.social-item a {
  font-size: 20px;
  line-height: 25px;
  color: #000;
  text-decoration: underline;
}

.link-site {
  font-size: 20px;
  color: #000;
  text-decoration: underline;
}

.number {
  font-size: 20px;
}