<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
</head>
  <body>
  
    <table class="body">
      <tr>
        <td>
          <center>
            <container>
              <row class="header">
                <columns class="logo large-4">
                  <spacer size="65"></spacer>
                  <img src="http://via.placeholder.com/128x75"/>
                  <spacer size="65"></spacer>
                </columns>
                <columns class="large-8">
                  <spacer size="15"></spacer>
                  <container class="no-bg">
                    <row>
                      <columns class="large-3">
                        <a class="basic-link" href="#">Личный офис</a>
                      </columns>
                      <columns class="large-3 no-pd">
                        <a class="basic-link" href="#">Система работы</a>
                      </columns>
                    </row>
                  </container>
                  <container class="info-menu no-bg">
                    <row>
                      <columns>
                        <p>Твой ID: <span>007-1364242</span></p>
                        <p>Наставник: <span>007-1323151, Горохова Оксана</span></p>
                        <p>Телефон наставника: <span>7-919-882-13-46</span></p>
                      </columns>
                    </row>
                  </container>
                </columns>
              </row>
            </container>
            <container>
              <row>
                <columns class="main no-pd">
                  <container class="no-bg">
                    <row>
                      <columns class="indent"></columns>
                      <columns class="intro large-6">
                        <spacer size="60"></spacer>
                        <img src="http://via.placeholder.com/108x63"/>
                        <spacer size="35"></spacer>
                        <h1 class="intro-header">Привет, Мария!</h1>
                        <p class="intro-text">Подпишись на <br> Чат-бот NL_Assistant <br> в Telegram!</p>
                        <spacer size="30"></spacer>
                        <button>
                          <a class="btn-subscribe" href="#">Присоединяйся!</a>
                        </button>
                      </columns>
                      <columns class="no-pd large-6">
                        <spacer size="20"></spacer>
                        <img src="http://via.placeholder.com/261x445">
                      </columns>
                    </row>
                  </container>
                </columns>
              </row>
            </container>
            <container>
              <row class="features">
                <columns class="indent"></columns>
                <columns class="large-12">
                  <spacer size="60"></spacer>
                  <p class="features-text">Будь в курсе всего происходящего в компании и получи персонального помощника в своем телефоне! <br>Ботом пользуются уже более 30 тысяч менеджеров<br> и клиентов компании  NL.</p>
                  <spacer size="20"></spacer>
                  <p class="features-text big-size">С Чат-ботом NL у тебя под рукой всегда будут ответы на вопросы.</p>
                  <spacer size="20"></spacer>
                  <p class="features-text">Tы выбираешь, какая информация тебя интересует,<br> бот выдает готовый ответ.</p>
                  <spacer size="20"></spacer>
                  <p class="features-text">Наш дружелюбный умный бот в Телеграм делится с менеджерами и клиентами тем, что знает.</p>
                </columns>
                <columns class="indent"></columns>
                <columns class="features-decorative no-pd">
                  <img src="../img/notebook.png" alt="" />
                </columns>
              </row>
            </container>
            <container>
              <row class="advantage">
                <columns class="indent"></columns>
                <columns class="large-4">
                  <spacer size="60"></spacer>
                  <img src="http://via.placeholder.com/261x527" alt="img" />
                </columns>
                <columns>
                  <spacer size="85"></spacer>
                  <h2>В нем ты найдешь:</h2>
                  <spacer size="10"></spacer>
                  <p class="advantage-text"><span>График событий,</span> что бы всегда быть в курсе важных событий компании;</p>
                  <spacer size="10"></spacer>
                  <p class="advantage-text"><span>Продукты</span> и самую важную инфлрмацию о них, а еще видео и частые вопросы;</p>
                  <spacer size="10"></spacer>
                  <p class="advantage-text"><span>Программы</span> питание для разных целий + меню и рекомендации;</p>
                  <spacer size="10"></spacer>
                  <p class="advantage-text business"><span>Бизнес:</span>
                    <div class="business-list">
                      <img class="dot-img" src="http://via.placeholder.com/10x10" alt="img" />
                      <p class="business-text">Моментальный просмотр ГО и ЛО,</p>
                      <img class="dot-img" src="http://via.placeholder.com/10x10" alt="img" />
                      <p class="business-text">Регистрация менедрежа или клиента,</p>
                      <img class="dot-img" src="http://via.placeholder.com/10x10" alt="img" />
                      <p class="business-text">Рафссылки и другие полезные штуки,</p>
                      <img class="dot-img" src="http://via.placeholder.com/10x10" alt="img" />
                      <p class="business-text">Баланс счетов.</p>
                    </div>
                  </p>
                </columns>
                <container>
                  <row class="advantage">
                    <columns class="indent"></columns>
                    <columns>
                      <p class="border"><span class="plus"></span>Плюс информация о магазинах, партнерах, проектах, сервисах и др.</p>
                      <p class="advantage-results">Поэтому бот - это дополнительный канал быстрого и емкого консультирования тебя и твоих клиентов.</p>
                    </columns>
                  </row>
                </container>
              </row>
            </container>
            <container>
              <row>
                <columns class="indent"></columns>
                <columns class="large-11 guide">
                  <spacer size="40"></spacer>
                  <h2 class="guide-title">Ты еще не подключился? <br>Значит, эта инструкция для тебя.</h2>
                  <spacer soze="10"></spacer>
                  <p class="how-connect">Как подключится?</p>
                  <container>
                    <row>
                      <columns class="dot no-pd">
                        <img class="dot-img" src="http://via.placeholder.com/10x10" alt="img"/>
                        <spacer size="12"></spacer>
                        <img class="dot-img" src="http://via.placeholder.com/10x10" alt="img"/>
                        <spacer size="17"></spacer>
                        <img class="dot-img" src="http://via.placeholder.com/10x10" alt="img"/>
                        <spacer size="33"></spacer>
                        <img class="dot-img" src="http://via.placeholder.com/10x10" alt="img"/>
                      </columns>
                      <columns class="no-pd guide-list">
                        <p class="guide-item">Установи в своем телефоне приложение Telegram.</p>
                        <p class="guide-item">Пройди по ссылке @nl_assistant_bot и подпишись.</p>
                        <p class="guide-item">Или найди в поисковой строке чатов адрес @NL_Assistant и подпишись.</p>
                        <p class="guide-item">Чтобы тебе был доступен самый интересный и полный функционал, авторизируйся.</p>
                      </columns>
                    </row>
                  </container>
                  <p>Все! Ты в чат-боте.</p>
                  <spacer size="20"></spacer>
                  <p>Бот доступен абсолютно для всех!</p>
                  <p>Устанавливай себе и отправляй ссылку своим клиентам.</p>
                </columns>
                <columns class="laptop large-1">
                  <img src="../img/laptop.png" alt="laptop" />
                </columns>
              </row>
            </container>
            <container>
              <row class="product">
                <columns class="indent"></columns>
                <columns class="product-item">
                  <spacer size="30"></spacer>
                  <img src="http://via.placeholder.com/73x73" alt="img"/>
                  <h2>NL Store</h2>
                  <p>Интернет-магазин в твоем мобильном</p>
                  <spacer size="30"></spacer>
                  <a href="#">
                    <img src="http://via.placeholder.com/180x50" alt="" />
                  </a>
                  <spacer size="10"></spacer>
                  <a href="#">
                    <img src="http://via.placeholder.com/180x50" alt="" />
                  </a>
                </columns>
                <columns class="indent"></columns>
                 <columns class="product-item">
                  <spacer size="30"></spacer>
                  <img src="http://via.placeholder.com/73x73" alt="img"/>
                  <h2>NL Reader</h2>
                  <p>Коммуникационное приложение</p>
                  <spacer size="30"></spacer>
                  <a href="#">
                    <img src="http://via.placeholder.com/180x50" alt="" />
                  </a>
                  <spacer size="10"></spacer>
                  <a href="#">
                    <img src="http://via.placeholder.com/180x50" alt="" />
                  </a>
                </columns>
              </row>
            </container>
            <container>
              <row>
                <columns class="indent"></columns>
                <columns class="product-item">
                  <spacer size="30"></spacer>
                  <img src="http://via.placeholder.com/73x73" alt="img"/>
                  <h2>NL_News</h2>
                  <p>Узнавай новости первым в Telegram</p>
                  <spacer size="30"></spacer>
                  <button>
                    <a class="btn-subscribe btn-subscribe-item" href="#">Присоединяйся</a>
                  </button>
                </columns>
                <columns class="product-item">
                  <spacer size="30"></spacer>
                  <img src="http://via.placeholder.com/73x73" alt="img"/>
                  <h2>NL_Assistant</h2>
                  <p>Твой надежный помощник в Telegram</p>
                  <spacer size="30"></spacer>
                  <button>
                    <a class="btn-subscribe btn-subscribe-item" href="#">Присоединяйся</a>
                  </button>
                </columns>
              </row>
            </container>
          </center>
        </td>
      </tr>
    </table>

  </body>
</html>
<!--container>row>columns-->